body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}



*,
*::before,
*::after {
    box-sizing: border-box;
}



    
/* 999999 */
html{
    background: #F5F5F5;
    padding-top: 44px;
    /* width: 100vh; */
    

}
body{
    display: flex;
    flex-direction: column;
    align-items: center;

}
header, main,footer{
    max-width: 1280px;
    width: 100%;
}
header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
header>nav>a:hover{
    color:#333D4B;
    cursor: pointer;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap:34px;
    align-items: center;
    
    
}
nav>a { 
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color:#83888F;
    text-decoration: none;
} 

/* ..... */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 100px; */
}
main > section {
    width: 100%;
}
section.backround{
   
    min-height: 600px;
    background:
    url(./img/Bitmap.svg);
    background-repeat: no-repeat;
    background-position: 0px -531px;
    border-radius: 10px;
    padding: 117px 85px;
}
h1{
    font-family: 'Fraunces';
    font-weight: 900;
    font-size: 72px;
    color:  #FEFCF7;
    line-height: 72px;
}
section.backround.conteiner>article{
    width: 493px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    
}
section.backround.conteiner>article>h1{
    margin-bottom: 32px;
}
section.backround.conteiner>article>p{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 56px;
}
button{
    border-radius: 6px;
    background:#0E8784;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FEFCF7;
    padding: 16px 32px;
    border: none;
    
}
button:hover{
background-color: #66D2CF;
cursor: pointer;

}


/* ///// */

section.collection>div{
    position: relative;
    top: 86px;
    background: -webkit-linear-gradient(#83888F
    , #FEFCF7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
    font-family:'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 150px;
    text-align: center;
    color: #83888F;
    z-index: -1;
}
section.collection>div.ourcollection{
    min-height: 196px;
}
section.collection_items {
    display: flex;
    flex-direction: row;
    gap: 30px;
   

    
}
section.collection_items>article>div>p {
    text-align: center;

}
section.collection_items>article{
    width: 255px;
    height: 134px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:71.55px;
}
section.collection {
    min-height: 600px;
    display:flex;
    flex-direction: column;
    align-items: center;
   margin-top: 140px;
   margin-bottom: 200px;
    /* align-items:space-between; */
}

h2 {
    font-family:'Fraunces';
    font-style: normal;
    font-weight: 900px;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
    padding-bottom: 24px;

}
section.collection_items>article>div>p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;

}
.ne_normale{
    padding: 11px 8px 5px 8px;
}
/* ///////// */
section.choose{
 width: 100%;
 height: 728px; 
 margin-bottom: 350px; 
   }

section.choose {
    background-color: #2C343E;
    border-radius: 10px;
    width: 100%;
    height: 577px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
     
} 
section.choose>article{

padding-top: 100px;
font-family:'Fraunces';
font-size: 40px;
/* line-height: 48px; */
color: #FEFCF7; 
display: flex;
flex-direction: column;
justify-content: space-between;
  
  


}
section.choose>article>h3{
    padding-bottom: 16px;
}
section.choose>article>h3, 
section.choose>article>p {
text-align: center;

}
section.choose>article>p{
    font-family:'Barlow';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color:#FEFCF7 ;
    width: 540px;

}

section.green {
    background-color: #0E8784;
    width: 350px;
    height: 382px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:56px;
}
div.logo{
    padding-top: 72px;
}

section.green>div.text{
    width: 255px;

}

section.green>div.text>h2{
    font-family: 'Fraunces';
    font-style: bold;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7; 
    /* padding-bottom: 24px;  */
  
}
section.green>div.text>p{
    font-family: 'Barlow';
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    padding-bottom: 48px;
    /* 77777777 */
}

img.car{
    padding-top: 11px;
    padding-bottom: 11px;
}

section.choose>div.green_box{
    display: flex;
    flex-direction: row;
    gap:30px;
    justify-content: center;
    position: relative;
    top: 20%
}
/* 999999999999999999999999999999 */
section.works{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 1055px;
    max-height: 565px;
    margin-bottom:64px;

}

section.line_circle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}
div.how>h2{ 
    text-align: left;
    font-family: 'Fraunces';
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    margin-bottom: 80px; 

}
section.work_items{
    height: 355px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 95px;


}
.work_navigation {
    display: flex;
    align-items: center;

    margin-bottom: 67px;
    width: 380px;
}
.work_navigation_circle {
    width: 31px;
    height: 31px;
    border: 2px solid #0E8784;
    border-radius: 100%;
}
.work_navigation_line {
    width: 350px;
    border-top: 2px solid #FDD6BA;
}
.conteiner_text{
    width: 350px;

}

.conteiner_text>h3{
    font-family:'Fraunces';
    font-style: normal;
    font-size: 72px;
    line-height: 72px;
    text-align: left;
    color:#FDD6BA;
    margin-bottom: 42px;

}
.conteiner_text>div{
    font-family:'Fraunces';
    font-style: normal;
    font-size: 32px;
    line-height: 36px;
    text-align: left;
    color:#333D4B;
    margin-bottom: 42px;
    
   
}
.conteiner_text>p{ 
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: #333D4B;
}
section.button{
    max-width: 1055px;
}
section.button>article.button{
      margin-bottom: 200px;
   
}


/* 666666666666666666666666666666666666666666 */
footer {
    display: flex;
    padding-left:  60px;
    padding-right: 60px;
    background-color: #2C343E;
    min-height: 120px;
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 88px; */
}
.logo_nav{
    display: flex;
    width: 621px;
    justify-content: space-between;
}
nav.icon>a{
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
     background-position: center;

     cursor: pointer;
}
footer>div.logo_nav>nav.foot>a:hover{
    color: #FEFCF7;
   
    
}
footer>div>nav.icon>a.facebook{
   
    background: url(./img/f.svg);
}
footer>div>nav.icon>a.facebook:hover{

   background:url(img/f2.svg);}
 
footer>div>nav.icon>a.twitter{
  
    background-image: url(./img/t.svg);
}
footer>div>nav.icon>a.twitter:hover{

   background-image:url(./img/t2.png);
   
    
}
footer>div>nav.icon>a.instagram{
  
    background-image: url(./img/i.svg);
}
footer>div>nav.icon>a.instagram:hover{

   background-image:url(./img/i2.svg);

   
}


/* button:hover{
    background-color: #66D2CF;
    cursor: pointer; */